body {
  font-family: "Open Sans", sans-serif !important;
}

.container {
  background-color: "#C4C4C4" !important;
  font-family: "Open Sans", sans-serif !important;
}

.box-shadow {
  -webkit-box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.2) !important;
  -moz-box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.2) !important;
  box-shadow: 0 6px 10px 0 hsla(0, 80%, 50%, 0.2) !important;
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e75151, #cc0000) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e75151, #cc0000) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-shadow-silver {
  -webkit-box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.2) !important;
  -moz-box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.2) !important;
  box-shadow: 0 6px 10px 0 hsla(0, 0%, 0%, 0.2) !important;
}

.titleText {
  font-family: "Open Sans", sans-serif !important;
  color: "#fff";
}

.Date1 {
  color: white !important;
}

.radioLabelStyle.ui.checkbox input.hidden + label {
  color: white !important;
}
